In [ ]:
# Dependencies
from census import Census
# from config import (census_key, gkey, api_key)
from config import (tmbd_key)
import gmaps
import numpy as np
import pandas as pd
import requests
import json
import time
from scipy.stats import linregress
from matplotlib import pyplot as plt
import urllib.request
import datetime
import tmdbsimple as tmdb

# TMBD API

#### Link Example

In [2]:
tmbd_example = f'https://api.themoviedb.org/3/movie/550?api_key={tmbd_key}'

#### tmdbsimple code: https://github.com/celiao/tmdbsimple/

In [3]:
tmdb.API_KEY = tmbd_key

In [4]:
tmdb.REQUESTS_SESSION = requests.Session()

In [5]:
movie = tmdb.Movies(550)
response = movie.info()

In [6]:
movie.title

'Fight Club'

In [7]:
movie.budget

63000000

In [8]:
response = movie.releases()
for c in movie.countries:
    if c['iso_3166_1'] == 'US':
        print(c['certification'])

R

In [11]:
search = tmdb.Search()
response = search.movie(query='The Bourne')
for s in search.results:
    print(s['title'], s['id'], s['release_date'], s['popularity'])

The Bourne Legacy 49040 2012-08-08 69.829
The Bourne Identity 2501 2002-06-14 43.374
The Bourne Ultimatum 2503 2007-08-03 35.013
The Bourne Supremacy 2502 2004-07-23 33.762
The Bourne Identity 895795  2.295
The Bourne Legacy: The Bourne Challenge 876110 2012-12-12 0.6
The Bourne Legacy: Bone-Crunching Fights 876107 2012-12-12 0.6
The Bourne Legacy: Inside The Crisis Suite 876111 2012-12-12 0.6

In [10]:
identity = tmdb.Movies(2501)
response = identity.info()
print(identity.budget, identity.runtime)
    # (60000000, 119)
print(int(identity.budget/identity.runtime))
    # 504201
supremacy = tmdb.Movies(2502)
response = supremacy.info()
print(supremacy.budget, supremacy.runtime)
    # (75000000, 108)
print(int(supremacy.budget/supremacy.runtime))
    # 694444
ultimatum = tmdb.Movies(2503)
response = ultimatum.info()
print(ultimatum.budget, ultimatum.runtime)
    # (70000000, 115)
print(int(ultimatum.budget/ultimatum.runtime))
    # 608695

60000000 119
504201
75000000 108
694444
70000000 115
608695

In [48]:
response = tmdb.Movies(603).info()
response['revenue']

463517383

In [148]:
tmdb.API_KEY = tmbd_key
tmdb.REQUESTS_SESSION = requests.Session()

response = tmdb.Movies(2501)
test = response.info()

# response['revenue']
response.budget
response.revenue
response.runtime
response.release_date
response.imdb_id
response.genres
response.popularity

43.374

#### Data from TMBD

In [155]:
tmdb.API_KEY = tmbd_key
tmdb.REQUESTS_SESSION = requests.Session()

numbers = range(1, 1000)

# id list
tdmb_id_not_found = []
tdmb_id = []
idmb_id =[]

# movie title
movie_title = []

# movie budget
movie_budget = []

# movie revenue
movie_revenue = []

# movie runtime
movie_runtime = []

# movie release date
movie_release_date = []

# movie genre
movie_genre = []

# movie rating's
movie_popularity = []
movie_vote_average = []

for number in numbers:
    movie = tmdb.Movies(number)

    try:
        response = movie.info()
        tdmb_id.append(number)
        idmb_id.append(movie.imdb_id)

        movie_title.append(movie.title)
        movie_budget.append(movie.budget)
        movie_revenue.append(movie.revenue)
        movie_revenue.append(movie.runtime)

        movie_release_date.append(movie.release_date)
        movie_genre.append(movie.genres)
        movie_popularity.append(movie.popularity)

        movie_spoken_languages.append(movie.spoken_languages)
        

        



    except:
        tdmb_id_not_found.append(number)
        tdmb_id.append(f"NaN")
        idmb_id.append(f"NaN")
        movie_title.append(f"NaN")
        movie_budget.append(f"NaN")
        movie_revenue.append(f"NaN")
        movie_runtime.append(f"NaN")
        movie_release_date.append(f"NaN")
        movie_genre.append(f"NaN")
        movie_popularity.append(f"NaN")
        movie_spoken_languages.append(f"NaN")

In [24]:
tmdb.API_KEY = tmbd_key
tmdb.REQUESTS_SESSION = requests.Session()

numbers = range(8000, 10000)

# id list
tdmb_id_not_found = []
tdmb_id = []
idmb_id =[]

# movie title
movie_title = []

# movie budget
movie_budget = []

# movie revenue
movie_revenue = []

# movie runtime
movie_runtime = []

# movie release date
movie_release_date = []

# movie genre
movie_genre = []

# movie rating's
movie_popularity = []
movie_vote_average = []

for number in numbers:
    movie = tmdb.Movies(number)

    try:
        response = movie.info()

        tdmb_id.append(number)
        idmb_id.append(movie.imdb_id)

        movie_title.append(movie.title)
        movie_budget.append(movie.budget)
        movie_revenue.append(movie.revenue)
        movie_revenue.append(movie.runtime)

        movie_popularity.append(movie.popularity)
        movie_vote_average.append(movie.vote_average)
        
    except:
        tdmb_id_not_found.append(number)
        tdmb_id.append(f"NaN")
        idmb_id.append(f"NaN")

        movie_title.append(f"NaN")
        movie_budget.append(f"NaN")
        movie_revenue.append(f"NaN")
        movie_runtime.append(f"NaN")
        movie_popularity.append(f"NaN")
        movie_vote_average.append(f"NaN")

In [8]:
# text file to hold the data
test_budget_txt_file = open('test_budget_txt_file.txt', 'w')
test_votes_text_file = open('test_votes_text_file.txt', 'w')

# cvs file to hold the data
test_budget_csv_file = open('test_budget_csv_file.csv', 'w')
test_votes_csv_file = open('test_votes_csv_file.csv', 'w')

In [9]:
for tdmb, idmb, popularity, vote_average in zip(tdmb_id, idmb_id, movie_popularity, movie_vote_average):
    
    test_votes_text_file.write(f"{tdmb}, {idmb}, {popularity}, {vote_average}\n")
    test_votes_csv_file.write(f"{tdmb}, {idmb}, {popularity}, {vote_average}\n")

for tdmb, idmb, title, budget, revenue, run_time in zip(tdmb_id, idmb_id, movie_title, movie_budget, movie_revenue, movie_runtime):

    test_budget_csv_file.write(f"{tdmb}, {idmb}, {title}, {budget}, {revenue}, {run_time}\n")
    test_budget_txt_file.write(f"{tdmb}, {idmb}, {title}, {budget}, {revenue}, {run_time}\n")

UnicodeEncodeError: 'charmap' codec can't encode character '\u015b' in position 18: character maps to <undefined>

In [25]:
with open('test_votes_csv_file.csv', 'w', encoding='utf-8') as f:
    for tdmb, idmb, popularity, vote_average in zip(tdmb_id, idmb_id, movie_popularity, movie_vote_average):
        f.write(f"{tdmb}, {idmb}, {popularity}, {vote_average}\n")

In [26]:
with open('test_budget_csv_file.csv', 'w', encoding='utf-8') as f:
    for tdmb, idmb, title, budget, revenue, run_time in zip(tdmb_id, idmb_id, movie_title, movie_budget, movie_revenue, movie_runtime):
        f.write(f"{tdmb}, {idmb}, {title}, {budget}, {revenue}, {run_time}\n")

In [13]:
# text file to hold the data
# text file to hold the data
test_votes_text_file.close()
test_votes_csv_file.close()

# cvs file to hold the data
test_budget_csv_file.close()
test_budget_txt_file.close()

In [ ]:
print(f'{numbers}, {movie_title}, {movie_budget}, {movie_revenue}, {movie_runtime}, {movie_release_date}, {movie_genre}')

In [153]:
print(f"Movie titles: {movie_title}")

Movie titles: ['NaN', 'Ariel', 'Shadows in Paradise', 'NaN']

In [154]:
for tdmb, idmb, title in zip(tdmb_id, idmb_id, movie_title):
    print(f"tdmb_id: {tdmb}, idmb_id:{idmb}, movie title: {title}")

tdmb_id: NaN, idmb_id:NaN, movie title: NaN
tdmb_id: 2, idmb_id:tt0094675, movie title: Ariel
tdmb_id: 3, idmb_id:tt0092149, movie title: Shadows in Paradise
tdmb_id: NaN, idmb_id:NaN, movie title: NaN

## Clean Data

In [9]:
# Make a reference to the books.csv file path
csv_path = "../resources/movie_budget_csv_file.csv"

# Import the books.csv file as a DataFrame
movie_budget = pd.read_csv(csv_path, encoding="utf-8")
movie_budget

      tdmb_id     idmb_id                      title   budget revenue run_time
0         NaN         NaN                        NaN      NaN     NaN      NaN
1         2.0   tt0094675                      Ariel        0       0      NaN
2         3.0   tt0092149        Shadows in Paradise        0      73      NaN
3         NaN         NaN                        NaN      NaN       0      NaN
4         5.0   tt0113101                 Four Rooms  4000000      74      NaN
...       ...         ...                        ...      ...     ...      ...
4172   8781.0                              Tiny Town        0     NaN      NaN
4173      NaN         NaN                        NaN      NaN     NaN      NaN
4174      NaN         NaN                        NaN      NaN     NaN      NaN
4175   8784.0   tt0180683          Everything's Jake        0     NaN      NaN
4176   8785.0   tt0059643   The Saragossa Manuscript        0     NaN      NaN

[4177 rows x 6 columns]

In [10]:
# Make a reference to the books.csv file path
csv_path = "../resources/movie_votes_csv_file.csv"

# Import the books.csv file as a DataFrame
movie_votes = pd.read_csv(csv_path, encoding="utf-8")
movie_votes

      tdmb_id     idmb_id popularity vote_average
0         NaN         NaN        NaN          NaN
1         2.0   tt0094675     10.636          6.8
2         3.0   tt0092149      8.329          7.2
3         NaN         NaN        NaN          NaN
4         5.0   tt0113101      20.88          5.7
...       ...         ...        ...          ...
8868   9995.0   tt0216772      4.134          5.1
8869      NaN         NaN        NaN          NaN
8870   9997.0   tt0857376     13.426            6
8871   9998.0   tt0371675      2.311            4
8872   9999.0   tt0499101      3.162          6.8

[8873 rows x 4 columns]

In [12]:
movie_budget_dropped = movie_budget.dropna()
movie_budget_dropped

,tdmb_id,idmb_id,title,budget,revenue,run_time
1,2.0,tt0094675,Ariel,0,0,NaN
2,3.0,tt0092149,Shadows in Paradise,0,73,NaN
4,5.0,tt0113101,Four Rooms,4000000,74,NaN
5,6.0,tt0107286,Judgment Night,21000000,NaN,NaN
7,8.0,tt0825671,Life in Loops (A Megacities RMX),42000,98,NaN
...,...,...,...,...,...,...
4170,8779.0,tt0047930,Journey to the Beginning of Time,0,NaN,NaN
4171,8780.0,tt0871426,Baby Mama,30000000,NaN,NaN
4172,8781.0,,Tiny Town,0,NaN,NaN
4175,8784.0,tt0180683,Everything's Jake,0,NaN,NaN
4176,8785.0,tt0059643,The Saragossa Manuscript,0,NaN,NaN

In [13]:
movie_votes_dropped = movie_votes.dropna()
movie_votes_dropped

      tdmb_id     idmb_id popularity vote_average
1         2.0   tt0094675     10.636          6.8
2         3.0   tt0092149      8.329          7.2
4         5.0   tt0113101      20.88          5.7
5         6.0   tt0107286      9.596          6.5
7         8.0   tt0825671      2.628          7.5
...       ...         ...        ...          ...
8867   9994.0   tt0091149     17.901            7
8868   9995.0   tt0216772      4.134          5.1
8870   9997.0   tt0857376     13.426            6
8871   9998.0   tt0371675      2.311            4
8872   9999.0   tt0499101      3.162          6.8

[4631 rows x 4 columns]

In [29]:
movie_votes_dropped 
movie_votes_dropped_NaN_check = movie_votes_dropped[movie_votes_dropped["vote_average"].str.contains("NaN")==False]
movie_votes_dropped_NaN_check

      tdmb_id     idmb_id popularity vote_average
1         2.0   tt0094675     10.636          6.8
2         3.0   tt0092149      8.329          7.2
4         5.0   tt0113101      20.88          5.7
5         6.0   tt0107286      9.596          6.5
7         8.0   tt0825671      2.628          7.5
...       ...         ...        ...          ...
8867   9994.0   tt0091149     17.901            7
8868   9995.0   tt0216772      4.134          5.1
8870   9997.0   tt0857376     13.426            6
8871   9998.0   tt0371675      2.311            4
8872   9999.0   tt0499101      3.162          6.8

[4631 rows x 4 columns]

In [24]:
movie_budget_revenue_dropped = movie_budget_dropped[movie_budget_dropped["revenue"].str.contains("NaN")==False]
movie_budget_revenue_dropped

,tdmb_id,idmb_id,title,budget,revenue,run_time
1,2.0,tt0094675,Ariel,0,0,NaN
2,3.0,tt0092149,Shadows in Paradise,0,73,NaN
4,5.0,tt0113101,Four Rooms,4000000,74,NaN
7,8.0,tt0825671,Life in Loops (A Megacities RMX),42000,98,NaN
8,9.0,tt0425473,Sunday in August,0,12136938,NaN
...,...,...,...,...,...,...
4131,8740.0,tt0096163,The Vanishing,0,102,NaN
4155,8764.0,tt0088286,Top Secret!,9000000,190458706,NaN
4156,8765.0,tt0119794,Nirvana,0,127,NaN
4167,8776.0,tt0064498,The Toth Family,0,0,NaN
4168,8777.0,tt0082988,Requiem,0,87,NaN

In [25]:
movie_budget_revenue_budget_dropped = movie_budget_revenue_dropped[movie_budget_revenue_dropped["run_time"].str.contains("NaN")==False]
movie_budget_revenue_budget_dropped

,tdmb_id,idmb_id,title,budget,revenue,run_time
609,2000.0,tt0068182,Aguirre,the Wrath of God,370000,37041
615,2006.0,tt0051406,Bell,Book and Candle,0,0
618,2009.0,tt1032846,4 Months,3 Weeks and 2 Days,852510,96
657,2048.0,tt0343818,I,Robot,120000000,215294342
732,2123.0,tt0183505,Me,Myself & Irene,51000000,90
735,2126.0,tt0240601,I Love You,Baby,0,114
807,2198.0,tt0079296,Himmel,Scheich und Wolkenbruch,0,235483004
844,2235.0,,Earth,Wind & Fire,0,121
875,2266.0,tt0401711,Paris,Je T'Aime,13000000,44862187
1327,4373.0,tt0066113,My Lover,My Son,0,90
1405,4451.0,tt0857233,Mein Freund,der MÃ¶rder,0,0

In [30]:
from pathlib import Path
filepath = Path('movie_budget_clean.csv')
filepath.parent.mkdir(parents=True, exist_ok=True)
movie_budget_revenue_dropped.to_csv(filepath, index =False)

In [31]:
from pathlib import Path
filepath = Path('movie_votes_clean.csv')
filepath.parent.mkdir(parents=True, exist_ok=True)
movie_votes_dropped_NaN_check.to_csv(filepath, index =False)