In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
csv_file = "movies_data.csv"
movie_data_df = pd.read_csv(csv_file)
movie_data_df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [4]:
new_movie_data_df = movie_data_df[['name', 'genre', 'year']].copy()
new_movie_data_df.rename(columns={'name': 'title'}, inplace=True)
new_movie_data_df

                                               title      genre  year
0                                        The Shining      Drama  1980
1                                    The Blue Lagoon  Adventure  1980
2     Star Wars: Episode V - The Empire Strikes Back     Action  1980
3                                          Airplane!     Comedy  1980
4                                         Caddyshack     Comedy  1980
...                                              ...        ...   ...
7663                                    More to Life      Drama  2020
7664                                     Dream Round     Comedy  2020
7665                                   Saving Mbango      Drama  2020
7666                                    It's Just Us      Drama  2020
7667                                       Tee em el     Horror  2020

[7668 rows x 3 columns]

In [5]:
from pathlib import Path  
filepath = Path('clean_movie_genre_dt.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
new_movie_data_df.to_csv(filepath, index =False)